﻿<script type="text/html" id="accordion-template">
    <div class="accordion" id="qualifyAccordion" data-bind="foreach: sections()">
        <div class="card">
            <div class="card-header" data-bind="attr: { id: `heading${name}`}">
                <div class="d-flex bd-highlight align-items-center">
                    <div class="p-2 bd-highlight">
                        <div class="btn-group section-validation-button">
                            <button type="button" class="btn errorToggleButton dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="enable: isValid() === false">
                                <!-- ko if : isValid() === true -->
                                <i class="fas fa-check-circle"></i>
                                <!-- /ko -->
                                <!-- ko if : isValid() === false -->
                                <i class="fas fa-times-circle"></i>
                                <span class="sr-only">Toggle Dropdown</span>
                                <!-- /ko -->                                
                            </button>
                            <ul data-bind="foreach: errorMessages, css: { 'dropdown-menu error-list-container': isValid() === false }, visible: isValid() === false">
                                <li class="dropdown-item error-list-item" data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" class="btn btn-primary btn-sm addButton roboto-light" data-bind="attr: { 'data-section': name, 'data-idmask': uniqueIDMask }, class: `${name}button`">Add</button>
                    </div>
                    <div class="bd-highlight pipe"></div>
                    <div class="p-2 bd-highlight">
                        <div class="d-flex collapseTrigger active" data-toggle="collapse" aria-expanded="true" data-bind="attr: { 'data-target': `#collapse${name}`, 'aria-controls': `collapse${name}` }">
                            <i class="fas fa-angle-down"></i>
                            <span class="collapseItemTitle" data-bind="text: template.list.title"></span>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1"></div>
                    <div class="bd-highlight">
                        <input type="checkbox" class="k-checkbox selectAllCheckbox" data-bind="attr: { 'id': `${name}SelectAllCheckbox`, 'data-section': name }">
                        <label class="k-checkbox-label" data-bind="attr: { 'for': `${name}SelectAllCheckbox` }"></label>
                    </div>
                </div>
            </div>
            <div class="collapse show" data-bind="attr: { id: `collapse${name}`, 'aria-labelledby': `heading${name}` }">
                <div class="card-body">
                    <div class="qualifyTable" data-bind="foreach: data(), attr: { 'data-section': name }">
                        <!-- ko if: $root.isVisible($parent, $data, $parent.template.list) -->
                            <!-- ko template: { name: 'qualify-row-template' } -->
                            <!-- /ko-->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="qualify-row-template">
    <div class="qualifyRow" data-bind="attr: { 'data-id': UniqueID || '', 'data-section': $parent.name }">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="roboto-light" style="width: 20px; margin-right: 10px;"></th>
                    <!-- ko foreach: $parent.template.list.items-->
                    <!-- ko if: $root.isVisible($parents[1], $parent, $data) -->
                    <th class="roboto-light" scope="col" data-bind="style: { width: style.width, 'margin-right': style.marginRight, 'text-align': style.align }">
                        <!-- ko if : $data.tooltip !== null && $data.tooltip !== undefined -->
                        <span data-bind="text: label,
                                                                    attr: { 'title': tooltip.display ? tooltip.text : null,
                                                                    'data-placement': tooltip.display ? tooltip.dataPlacement : null,
                                                                    'data-toggle': tooltip.display ? 'tooltip' : null,
                                                                    'tooltip-trigger': tooltip.display ? tooltip.trigger : null }">

                        </span>
                        <!-- /ko -->
                        <!-- ko if : $data.tooltip === null || $data.tooltip === undefined -->
                        <span data-bind="text: label"></span>
                        <!-- /ko -->
                    </th>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody>
                <tr class="dataRow">
                    <td class="roboto-light validation-indicator-container" style="width: 20px; margin-right: 10px;" data-bind="attr: { 'data-isvalid': IsValid }">
                        <!-- ko if : $root.getPropertyValue($data, 'IsValid') === true -->
                        <i class="fas fa-check-circle"></i>
                        <!-- /ko -->
                        <!-- ko if : $root.getPropertyValue($data, 'IsValid') === false -->
                        <i class="fas fa-times-circle"></i>
                        <!-- /ko -->
                    </td>
                    <!-- ko foreach: $parent.template.list.items-->
                    <!-- ko if: $root.isVisible($parents[1], $parent, $data) -->
                    <td class="roboto-light" data-bind="style: { width: style.width, 'margin-right': style.marginRight, 'text-align': style.align }">
                        <span data-bind="text: $root.getValue($parents[1], $parent, $data)"></span>
                    </td>
                    <!-- /ko -->
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
        <div class="dropdown d-inline">
            <button class="btn qualify-more-info-button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="attr: {'id': `${UniqueID}-dropdownMenuButton`}">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" data-bind="attr: {'aria-labelledby': `${UniqueID}-dropdownMenuButton`,'data-id': UniqueID, 'data-section': $parent.name}">
                <a class="dropdown-item clone-button" href="#">Clone</a>
                <a class="dropdown-item delete-button" href="#">Delete</a>
            </div>
        </div>
        <input type="checkbox" class="k-checkbox" data-bind="attr: { 'id': UniqueID, 'data-id': UniqueID }">
        <label class="k-checkbox-label" data-bind="attr: { 'for': UniqueID }"></label>
    </div>
</script>