﻿<script type="text/html" id="facebook-loading-animation-template">
    <div class="facebook-loading-animation-wrapper">
        <div class="text-line"> </div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
        <div class="text-line"></div>
    </div>
</script>