﻿<script type="text/html" id="validation-feedback-button-template">
    <div class="btn-group section-validation-button leftDropdown">
        <button type="button" class="btn errorToggleButton dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="enable: isValid() === false">
            <!-- ko if : isValid() === true -->
            <i class="fas fa-check-circle"></i>
            <!-- /ko -->
            <!-- ko if : isValid() === false -->
            <i class="fas fa-times-circle"></i>
            <!-- /ko -->
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul data-bind="foreach: errorMessages, css: { 'dropdown-menu error-list-container': isValid() === false }, visible: isValid() === false">
            <li class="dropdown-item error-list-item" data-bind="text: $data"></li>
        </ul>
    </div>
</script>
