﻿.controls-container {
    padding-bottom: 50px;
}

    :root,
    .controls-container .mdc-button,
    .controls-container .mdc-radio,
    .controls-container .mdc-checkbox {
        --mdc-theme-primary: #007DBA;
        --mdc-theme-secondary: #007DBA;
    }

    .controls-container .float-left {
        float: left;
    }

    .controls-container .mdc-text-field {
        background-color: white !important;
        font-family: 'Roboto';
        padding: 0px !important;
        border-radius: 0;
        padding-left: 0px !important;
        background-color: white !important;
        border-bottom-color: #ECECEC !important;
    }

    .controls-container .disabled-color {
        color: #b2b2b2 !important;
    }

    .controls-container span.k-icon.k-i-warning {
        display: none !important;
    }

    .controls-container .display-flex {
        display: flex;
    }

    .controls-container .mdc-text-field__input:disabled {
        background-color: transparent !important;
    }

    .controls-container .mdc-text-field__input {
        border-bottom-color: #ECECEC !important;
        padding-left: 0px !important;
    }

    .controls-container .mdc-floating-label {
        margin-top: 7px;
        left: 0px !important;
    }

    .controls-container .label-style {
        color: #BABABA !important;
        font-family: 'Roboto-Light';
    }

    .controls-container .mdc-text-field--focused .mdc-floating-label,
    .controls-container .mdc-select--focused .mdc-floating-label,
    .controls-container .mdc-tab--active .mdc-floating-label {
        color: #007DBA !important;
    }


/*didn't work with cascade, I still have to find a way*/

.mdc-line-ripple {
    background-color: #007DBA !important;
}

.controls-container .mdc-tab--active,
.controls-container .mdc-text-field__input:focus,
.controls-container .mdc-select--focused {
    background-color: #D1E7F3 !important;
    padding-left: 0px !important;
}


/*didn't work with cascade, I still have to find a way*/

.mdc-floating-label--float-above {
    color: #007DBA !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: Roboto;
    margin-top: 0px !important;
}


/*KENDO DROPDOWN*/

.controls-container .kendo-dropdown .select-input {
    position: absolute;
    box-shadow: 0px 0px 4px 0px black;
}


/*doesn't have cascade because it is the list from outside the modal*/

.k-list-container {
    box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px !important;
}

    .k-list-container .k-state-selected {
        color: black !important;
        background-color: #D1E7F3 !important;
    }

.k-list .k-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

    .k-list .k-item.k-state-focused {
        background-color: #D1E7F3 !important;
        border: 0px solid red !important;
    }

.controls-container .kendo-dropdown .k-autocomplete,
.controls-container .kendo-dropdown .k-combobox .k-dropdown-wrap {
    border: none;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #ECECEC;
}

.controls-container .kendo-dropdown .k-combobox {
    width: 100% !important;
    padding: 0;
}

.controls-container .kendo-dropdown .k-dropdown-wrap .k-clear-value {
    z-index: 1;
    top: 35% !important;
    right: 20px;
}

.controls-container .kendo-dropdown .k-input {
    padding-top: 3em !important;
    height: 5.5em !important;
}

.controls-container .kendo-dropdown .k-dropdown-wrap .k-select {
    background-color: transparent !important;
    border: none !important;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.controls-container .kendo-dropdown .k-i-arrow-60-down::before,
.controls-container .kendo-dropdown .k-i-arrow-s::before,
.controls-container .kendo-dropdown .k-i-collapse::before,
.controls-container .kendo-dropdown .k-i-expand-s::before,
.controls-container .kendo-dropdown .k-i-sarrow-s::before {
    position: absolute;
    top: 40%;
    right: 1%;
}


/* DATEPICKER */

.controls-container .datepicker {
    width: 100% !important;
}

    .controls-container .datepicker .k-i-calendar {
        position: absolute;
        right: 10px;
        top: 20px;
    }

    .controls-container .datepicker span.datepicker-style {
        border-bottom: 1px solid #ECECEC;
        padding: 0;
    }

    .controls-container .datepicker input.input-style {
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }

    .controls-container .datepicker .k-datepicker .k-picker-wrap {
        border: 0px;
        border: none !important;
    }

    .controls-container .datepicker .k-datepicker .k-select {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        padding-top: 10px;
        background-color: transparent !important;
        border: none !important;
    }


/*SUBTITLE*/

.controls-container .subtitle-label-container {
    padding: 0.5em 0em 0em 0em;
}

    .controls-container .subtitle-label-container .subtitle {
        text-transform: uppercase;
        color: #004165;
        font-size: 24px;
        font-family: 'Roboto-Regular';
    }

    .controls-container .subtitle-label-container .hr-style {
        margin: 0;
        background-color: #b2b2b2;
        width: 100%;
        height: 1px;
    }


/*LEFT-LABEL-INPUT-CONTROL*/

.controls-container .left-label-input-container {
    display: flex;
}

    .controls-container .left-label-input-container .label-wrapper {
        width: 100%;
        position: relative;
    }

        .controls-container .left-label-input-container .label-wrapper .label {
            font-family: 'Roboto-Light';
            color: #3F708B;
            position: absolute;
            top: 20px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 10px;
        }


/* TAB-STYLE */

.controls-container .tab-section-style {
    border: none !important;
}

.controls-container .content--active {
    animation: blinker 1s linear;
}

@keyframes blinker {
    1% {
        opacity: 0;
    }
}

.controls-container .mdc-tab .mdc-tab__content .mdc-tab__text-label {
    color: #007DBA !important;
}

    .controls-container .mdc-tab .mdc-tab__content .mdc-tab__text-label:hover {
        color: #007DBA !important;
    }

.controls-container .mdc-tab {
    border-bottom: 1px solid #e4e4e4;
}

.controls-container .mdc-tab--active {
    background-color: white !important;
    color: black !important;
}

​ .controls-container .mdc-tab__text-label {
    color: black !important;
    font-family: Roboto;
}

​ .controls-container .repeated-row {
    display: flex;
}

.controls-container .hidden {
    display: none !important;
}

.controls-container .content {
    display: none;
}

.controls-container .content--active {
    display: block;
}

.controls-container .mdc-select,
.controls-container .mdc-tab {
    background-color: white !important;
    font-family: 'Roboto';
    padding: 0px !important;
    padding-left: 0px !important;
}

​ .controls-container .mdc-list {
    z-index: 999999 !important;
}

    ​ .controls-container .mdc-list > li:first-child {
        display: none;
    }


/* RADIOBOX/CHECKBOX */

.controls-container .label-box-style {
    font-family: 'Roboto-Regular';
    font-size: 16px;
}

.controls-container .radio-container {
    padding-top: 20px;
}


/*VALIDATION STYLES*/

.controls-container .required-validation-error .k-dropdown-wrap,
.controls-container .required-validation-error .mdc-text-field,
.controls-container .required-validation-error .mdc-text-field__input {
    border-bottom-color: #c62e3c !important;
}

.controls-container .restriction-validation-error .k-dropdown-wrap,
.controls-container .restriction-validation-error .mdc-text-field,
.controls-container .restriction-validation-error .mdc-text-field__input {
    border-bottom-color: #c62e3c !important;
}

.controls-container .calculated-validation-error .k-dropdown-wrap,
.controls-container .calculated-validation-error .mdc-text-field,
.controls-container .calculated-validation-error .mdc-text-field__input {
    border-bottom-color: #c62e3c !important;
}

.controls-container .error-message-container {
    height: 15px;
    font-size: 10px;
    overflow: hidden;
    color: #c62e3c;
}

    .controls-container .error-message-container span {
        display: none;
    }

.controls-container .required-validation-error .required-error-message {
    display: block;
}

.controls-container .restriction-validation-error:not(.required-validation-error):not(.calculated-validation-error) .restriction-error-message {
    display: block;
}

.controls-container .calculated-validation-error:not(.required-validation-error) .calculated-error-message {
    display: block;
}

.controls-container .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*KENDO NUMERIC */
.controls-container .left-label-input-container .input-wrapper {
    display: inline;
}

.controls-container .input-wrapper .k-numeric-wrap {
    border: none;
}

.controls-container .input-wrapper .mdc-text-field {
    border-bottom: 1px solid #ECECEC;
}

.controls-container .input-wrapper .mdc-text-field__input {
    padding: 0;
}

    .controls-container .input-wrapper .mdc-text-field__input .k-input {
        height: 100%;
        padding-top: 11px;
    }


.controls-container .control-row > div:after {
    clear: both;
    display: block;
    content: "";
}