﻿@model RecordLmiViewModel

@{
    ViewData["Title"] = "Lmi Result";
}

<div class="row no-gutters functionalities-container">
    <div class="col-6">
        <label>LMI</label>
    </div>

    <div class="col-6 no-gutters">
        <div class="buttonsContainer float-right">
            <a href="/Lmi/DownloadPackage" class="btn btn-secondary downloadPackage">Download package</a>
            <button class="btn button-primary deleteLmiButton">Delete LMI</button>
        </div>
    </div>

    <div row no-gutters>
        <div class="indicatorContainer">
            @foreach (var indicator in Model.Indicators)
            {
                <div class="indicatorItem" style="background-color: @indicator.BackgroundColorHex; border-color: @indicator.BorderColorHex">
                    <p class="indicatorTitle">@indicator.Title</p>
                    <p class="indicatorValue">@indicator.Value</p>
                </div>
            }
        </div>

        <textarea id="umiTextarea" cols="200" rows="30">
        @Newtonsoft.Json.JsonConvert.SerializeObject(Newtonsoft.Json.JsonConvert.DeserializeObject(Model.ResultJson), Newtonsoft.Json.Formatting.Indented)
    </textarea>
    </div>
</div>
