﻿@model RecordUmiViewModel
<div class="row no-gutters functionalities-container">
    <div class="col-6">
        <label>UMI</label>
        <button class="btn button-primary saveRecordButton">Save Record</button>
    </div>
    <div class="col-6 no-gutters">
        <div class="buttonsContainer float-right">
            <a href="/Umi/DownloadPackage" class="btn btn-secondary downloadPreparedFiles">Download files</a>

            <div class="validationButtonContainer">
                <!-- ko template: { name: 'validation-feedback-button-template' } -->
                <!-- /ko-->
            </div>
            <button class="btn button-primary calculate-button submitButton">Calculate UMI</button>
            <div class="dropdown d-inline">
                <button class="btn button-secondary more-info-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item main-clone-button clone-button disabled" href="#">Clone</a>
                    <a class="dropdown-item main-delete-button delete-button disabled" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div row no-gutters>
    <div class="qualifyContainer">
        <!-- ko template: { name: 'accordion-template', afterRender: onAccordionLoaded } -->
        <!-- /ko-->
    </div>
</div>