﻿@using Qualify.Domain.Models.Identity
@using Qualify.Web.Mvc.Models.IntercomChat
@using Qualify.Web.Mvc.ExtensionMethods
@using System.Security.Claims

@model RecordViewModel

@{
    LoanWriter loanWriter = User.GetClaim<LoanWriter>(ClaimTypes.UserData);
    IntercomUser intercomUser = loanWriter.ToIntercomUser();
}

@section Styles {
    <link href="~/css/umi.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/qualify.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/qualifyTable.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/umiIndicator.css" rel="stylesheet" asp-append-version="true" />
}

<div class="rendered-content-container">

</div>


@section Scripts {
    <script>
        var intercomSettings = @Html.Raw(Json.Serialize(intercomUser));

        console.log(intercomSettings);

        window.intercomSettings = intercomSettings;

        (function () {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', w.intercomSettings);
            } else {
                var d = document; var i = function () {
                    i.c(arguments);
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args);
                };
                w.Intercom = i;
                var l = function () {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/hhl8by6g';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                };

                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else { w.addEventListener('load', l, false); }
            }
        })();
    </script>

    <script id="mainJs">
        require(["js/main"], function (mainJs) {
            var record = @Html.Raw(Model.DataJson);

            window.intercomSettings["RecordUniqueId"] = record.UniqueID;

            mainJs.MainInit(record);
        });
    </script>
}
