﻿<script id="redirect-template" type="text/html">
    <div class="redirect-container">
        <div class="main-message-container">
            <span class="roboto-regular" data-bind="text: mainMessage"></span>
            <strong class="roboto-regular" data-bind="text: siteName"></strong>
        </div>
        <p class="policy-message" data-bind="text: policyMessage"></p>
        <div>
            <input id="redirectModal-checkbox" type="checkbox" class="k-checkbox" disabled>
            <label class="k-checkbox-label" for="redirectModal-checkbox"></label>
            <label>Do not display this warning again.</label>
        </div>
    </div>
</script>