﻿<script id="rightSlideModalTemplate" type="text/html">
    <div class="container slide-modal-container">
        <div data-bind="attr: { 'id': modalId }" role="dialog" class="side-modal modal right fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title disable-select" data-bind="text: title"></h5>
                        <button id="closeButton" data-dismiss="modal" style="float: right;" class="close-button">Close</button>
                    </div>
                    <div class="modal-body" data-bind="css: bodyHeight">
                        <div class="controls-container" id="controlsContainer"></div>
                    </div>
                    <!-- ko if: footerDisplayed -->
                    <div class="modal-footer">
                        <button type="button" class="mdc-button destroy-modal">Close</button>
                        <button type="button" class="mdc-button mdc-button--raised save-modal">Save</button>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</script>