﻿@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/anzfavicon.png" />
    <title>ANZ Qualify</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/lib/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
    <link href="~/vendor/material-components-web/material-components-web.min.css" rel="stylesheet" />
    <link href="~/vendor/roboto-fontface/css/roboto/roboto-fontface.css" rel="stylesheet" />
    <link rel="stylesheet" href="/vendor/KendoUI/styles/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css" />
    <link href="~/css/mediaQueries.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/JSONModals/Css/Style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/JSONForms/Css/Style.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="loader-wrapper">
        <div id="anzLogo">
            <img class="anz-logo" src="~/images/test4.png" alt="ANZ">
        </div>
        <div id="loader"></div>
        <div class="loader-footer">
            <p class="loader-text">
                ANZ Qualify is a toolkit which is designed to help brokers and their customers with the loan application process.
                Using ANZ Qualify is not a guarantee that ANZ will offer a loan to a customer (or offer a particular loan amount).
                All applications for credit are subject to ANZ’s credit approval criteria.
                Terms and conditions, fees and charges, and other eligibility criteria apply to ANZ loans.
            </p>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="row no-gutters navbar navbar-expand-lg navbar-light main-navbar">
        <div class="col-4 navbar-begin">
            <a class="back-records roboto-light" href="@Configuration["BackToRecordsUrl"]">
                <i class="fas fa-arrow-left"></i>
                Back to records
            </a>
        </div>
        <div class="col-4 row no-gutters justify-content-center navbar-center">
            <img src="~/images/test4.png" />
            <span>Qualify</span>
        </div>
        <div class="col-4 row no-gutters justify-content-end navbar-end">
            <partial name="_LoginPartial" />
        </div>
    </div>
    <div class="row no-gutters content-row">
        <div class="col-2">
            <div class="sidebar">
                <div class="user"></div>
                <div class="sidebar-section">
                    <span class="title">Services</span>
                    <ul>
                        <li class="umi-list-item available roboto-light">
                            <button class="btn umi-list-button">
                                <i class="fas fa-check-double"></i>
                                UMI
                            </button>
                        </li>
                        <li class="pricing-list-item available roboto-light">
                            <button class="btn pricing-list-button">
                                <i class="fas fa-dollar-sign"></i>
                                Pricing
                            </button>
                        </li>
                        <li class="lmi-list-item available roboto-light">
                            <button class="btn lmi-list-button">
                                <i class="fas fa-umbrella"></i>
                                LMI Qualifier
                            </button>
                        </li>
                        <li class="lo-doc-list-item roboto-light">
                            <button class="btn lo-doc-list-button">
                                <i class="fas fa-signature"></i>
                                Lo Doc
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <span class="title">Calculators</span>
                    <ul>
                        <li class="repayment-list-item roboto-light">
                            <button class="btn repayment-list-button" data-href="https://www.anz.com.au/personal/home-loans/calculators-tools/calculate-repayments/">
                                <i class="fas fa-file-invoice-dollar"></i>
                                Repayment
                            </button>
                        </li>
                        <li class="home-loan-list-item roboto-light">
                            <button class="btn home-loan-list-button" data-href="https://www.anz.com.au/personal/home-loans/calculators-tools/deposit-calculator/">
                                <i class="far fa-paper-plane"></i>
                                Home Loan Fee
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <span class="title">Tools</span>
                    <ul>
                        <li class="valuation-list-item roboto-light">
                            <button class="btn valuation-list-button" data-href="https://vis.rpdata.com/anz/uas/logon.xhtml">
                                <i class="fas fa-home"></i>
                                Valuation
                            </button>
                        </li>
                        <li class="postcode-list-item roboto-light">
                            <button class="btn postcode-list-button">
                                <i class="fas fa-map-marker-alt"></i>
                                Postcode Locator
                            </button>
                        </li>
                        <li class="branch-list-item roboto-light">
                            <button class="btn branch-list-button" data-href="https://www.anz.com.au/locations/">
                                <i class="fas fa-store-alt"></i>
                                Branch Locator
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-section">
                    <span class="title">Help</span>
                    <ul>
                        <li cl ass="faq-list-item roboto-light">
                            <button class="btn faq-list-button">
                                <i class="fas fa-question"></i>
                                FAQs
                            </button>
                        </li>
                        <li class="contact-list-item roboto-light">
                            <button class="btn contact-list-button">
                                <i class="far fa-envelope"></i>
                                Contact
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="k-loading-mask">
                <div class="k-loading-image"></div>
                <div class="k-loading-color"></div>
            </div>
            @RenderBody()
            @RenderSection("modals", required: false)
        </div>
    </div>
    <div class="plugin-container"></div>

    <script src="~/vendor/requirejs/require.js"></script>
    <script src="~/js/init.js" asp-append-version="true"></script>
    <script type="text/javascript">
        require(["jquery", "bootstrap", "./js/site"], function ($) { });
    </script>

    @await Html.PartialAsync("_Templates")

    @RenderSection("Scripts", required: false)
</body>
</html>