﻿.slide-modal-container .side-modal {
    position: absolute;
    pointer-events: none;
}

    .slide-modal-container .side-modal > .modal-dialog {
        -webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
        box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.57);
    }
        /*right modal*/
    .slide-modal-container .side-modal.right > .modal-dialog {
        height: 100%;
        margin: auto 0 auto auto;
        border: 0;
        width: 32%;
        min-width: 320px;
    }

        .slide-modal-container .side-modal > .modal-dialog > .modal-content {
            height: 100%;
            border-radius: 0;
            border-top: 0;
            border-right: 0 none !important;
        }

        /*center modal*/
    .slide-modal-container .side-modal.center > .modal-dialog {
    }


    /*TODO:*/
    .slide-modal-container .side-modal .modal-header {
        border-bottom: none;
        padding: 2em 12% 1em 12%;
        display: block;
    }
        /*CLOSE BUTTON*/
        .slide-modal-container .side-modal .modal-header .close-button {
            color: #007DBA;
            background-color: transparent;
            font-family: 'Roboto-Light';
            padding: 0;
            border: 0;
            float: right;
        }

            .slide-modal-container .side-modal .modal-header .close-button:hover {
                border-bottom: 1px solid #007DBA !important;
            }

            .slide-modal-container .side-modal .modal-header .close-button:active {
                color: rgb(6, 172, 255);
                text-decoration: none;
                box-shadow: none;
                outline: none;
            }

        /*TITLE*/
        .slide-modal-container .side-modal .modal-header .modal-title {
            font-family: 'Roboto';
            font-size: 28px;
            display: inline-block;
        }

    .slide-modal-container .side-modal .modal-footer {
        height: 75px;
        border-top: 2px solid #d8d8d8;
        padding: 0 80px;
    }

        .slide-modal-container .side-modal .modal-footer .destroyModal {
            color: black;
        }

        .slide-modal-container .side-modal .modal-footer .mdc-button--raised {
            color: white;
            background-color: #007DB9;
        }

    .slide-modal-container .side-modal > .modal-dialog > .modal-content > .modal-body {
        height: 83%;
        overflow-y: auto !important;
        overflow-x: hidden;
        flex: none;
        padding: 0em 12% 3em 12%;
    }

    .slide-modal-container .side-modal.modal.fade.show .modal-dialog {
        right: 0;
        overflow-y: hidden;
    }

    .slide-modal-container .side-modal.modal.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.5s linear, right 0.5s ease-out;
        -moz-transition: opacity 0.5s linear, right 0.5s ease-out;
        -o-transition: opacity 0.5s linear, right 0.5s ease-out;
        transition: opacity 0.5s linear, right 0.5s ease-out;
    }

    /*TITLE*/
    .slide-modal-container .side-modal .modal-header .modal-title {
        font-family: 'Roboto';
        font-size: 28px;
    }

    /*CLONE*/
    .slide-modal-container .side-modal .clone-data {
        list-style-type: none;
        padding: 0;
    }

        .slide-modal-container .side-modal .clone-data .clone-label-container {
            border-bottom: 2px solid #b2b2b2;
            padding-top: 20px;
        }

            .slide-modal-container .side-modal .clone-data .clone-label-container .clone-label {
                color: #b2b2b2;
                font-family: Roboto;
                margin: 0;
                font-size: 15px;
            }

        .slide-modal-container .side-modal .clone-data .ol-container {
            padding-top: 10px;
            font-family: Roboto;
            padding-left: 20px;
        }

    .slide-modal-container .side-modal .clone-container .mdc-text-field .mdc-floating-label {
        left: 0px !important;
    }

    .slide-modal-container .side-modal .clone-container .clone-input {
        padding-bottom: 20px;
        padding-top: 40px;
    }

.slide-modal-container .small-height {
    height: 82% !important;
}

.slide-modal-container .large-height {
    height: 92% !important;
}

/********** Redirect Plugin **********/
.side-modal .modal-content .modal-body .redirect-container .main-message-container {
    padding-bottom: 14px;
}

.side-modal .modal-content .modal-body .redirect-container p.policy-message {
    font-size: 10px;
}

.side-modal.center .modal-dialog .modal-content .modal-body .controls-container {
    padding-bottom: 0;
}




/*has to be deleted*/
.required-border {
    border-bottom: 1px solid #c93e3e !important;
}