﻿<script id="KendoDropDown-template" type="text/html">
    <div class="mdc-text-field kendo-dropdown" data-bind="attr:{id: containerId}, style: { 'width': width}">
        <select class="mdc-text-field__input" data-bind="options: options, optionsText:'text', optionsValue: 'value', attr:{'id': inputId, 'data-name': name, 'placeholder': placeholder, 'data-repeatableindex': repeatableIndex}"></select>
        <label class="mdc-floating-label label-style" data-bind="text: label, attr: { 'for': inputId, 'id': labelId }" style="left: 0;"></label>
        <div class="mdc-line-ripple" data-bind="attr: {'id': rippleId }"></div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message ellipsis" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message ellipsis"></span>
        <span class="calculated-error-message ellipsis"></span>
    </div>
</script>