﻿<script type="text/html" id="LeftLabelInputControl-template">
    <div class="left-label-input-container w-100" data-bind="style: { 'width': width, 'padding-right': paddingRight}">
        <div class="label-wrapper" data-toggle="tooltip" data-bind="attr: { 'id': labelWrapperId, 'title': tooltipText}, style:{'width': widthLabel}">
            <label class="label" data-bind="text: label, attr: { 'for': inputId }" style="left: 0;"></label>
        </div>
        <div class="input-wrapper" data-bind="attr: {'id': containerId}, style:{'width': widthInput}">
            <div class="mdc-text-field w-100" data-bind="css: iconType">
                <input class="mdc-text-field__input" data-bind="attr: {'placeholder': placeholder, 'id': inputId, 'data-name': name, 'min': min, 'max': max, 'step': step, 'data-type': type,'data-repeatableindex': repeatableIndex } ">
                <label class="mdc-floating-label label-style" data-bind="text: floatingLabel"></label>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message ellipsis" data-bind="text: label + ' is required'"></span>
        <span class="restriction-error-message ellipsis"></span>
        <span class="calculated-error-message ellipsis"></span>
    </div>
</script>