﻿<script type="text/html" id="RadioButtonInputControl-template">
    <div class="radio-container">
        <div >
            <label class="d-none" data-bind="text: label"></label>
        </div>
        <div class="mdc-form-field radio-list-container" data-bind="foreach: options, attr: { 'id': containerId }">
            <div class="mdc-radio">
                <input class="mdc-radio__native-control" autocomplete="off" type="radio" data-bind="attr: { value: value, name: $parent.inputId, 'data-name': $parent.name, id: uid, 'data-repeatableindex': $parent.repeatableIndex }">
                <div class="mdc-radio__background">
                    <div class="mdc-radio__outer-circle"></div>
                    <div class="mdc-radio__inner-circle"></div>
                </div>
            </div>
            <label class="disable-select label-box-style" style="margin-right: 10px; margin-bottom: 0px;" data-bind="text: text, attr: { for: uid }"></label>
        </div>
    </div>
    <div class="error-message-container">
        <span class="required-error-message ellipsis" data-bind="text: label + ' is required'"></span>
    </div>
</script>