﻿<script type="text/html" id="ShowHideButtonControl-template">
    <div class="button-container" data-bind="attr: { 'id': domId }, style: { 'text-align': textAlign }">
        <button class="mdc-button">
            <span class="mdc-button__label" data-bind="text: text"></span>
        </button>
    </div>
</script>