﻿<script type="text/html" id="SubtitleControl-template">
    <div class="subtitle-label-container" data-toggle="tooltip" data-bind="attr: {'title': tooltipText, 'id': containerId}, style:{ 'margin-top': marginTop, 'data-placement': tooltipPlacement }">
        <label class="subtitle disable-select" data-bind="text: text, style: { 'margin-left': marginLeft, 'font-size': fontSize, 'font-weight': fontWeight, 'color': color }"></label>
        <div class="hr-style"></div>
    </div>
</script>