﻿:root,
.mdc-button,
.mdc-radio,
.mdc-checkbox {
    --mdc-theme-primary: #007DBA;
    --mdc-theme-secondary: #007DBA;
}

​ .mdc-text-field,
.mdc-select,
.mdc-tab {
    background-color: white !important;
    font-family: 'Roboto';
    padding: 0px !important;
    padding-left: 0px !important;
}

.mdc-text-field {
    background-color: white !important;
    border-bottom-color: #ECECEC !important;
}

.mdc-text-field__input {
    border-bottom-color: #ECECEC !important;
    padding-left: 0px !important;
}

​ .mdc-text-field--focused {
    background-color: #D1E7F3 !important;
    padding-left: 0px !important;
}

.mdc-tab--active,
.mdc-text-field__input:focus,
.mdc-select--focused {
    background-color: #D1E7F3 !important;
    padding-left: 0px !important;
}

    .mdc-text-field--focused .mdc-floating-label,
    .mdc-select--focused .mdc-floating-label,
    .mdc-tab--active .mdc-floating-label {
        color: #007DBA !important;
    }

.mdc-text-field--with-leading-icon .mdc-text-field__input {
    padding-left: 18px !important;
}

​ .plm {
    left: 48px !important;
}

.mdc-text-field__input,
.mdc-select__selected-text {
    border-bottom-color: #ECECEC !important;
    padding-left: 0px !important;
}

.mdc-tab--active {
    background-color: white !important;
    color: black !important;
}

​ .mdc-tab__text-label {
    color: black !important;
    font-family: Roboto;
}

​ .mdc-floating-label--float-above {
    color: #007DBA !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-family: Roboto;
    margin-top: 0px !important;
}

​ .mdc-floating-label {
    font-family: Roboto;
    margin-top: 7px;
    left: 0px !important;
}

​ .mdc-line-ripple {
    background-color: #007DBA !important;
}

​ .mdc-tab-indicator__content .mdc-tab-indicator__content--underline {
    border-color: rebeccapurple !important;
}

.mdc-tab {
    color: aqua !important;
    border-bottom: 1px solid #e4e4e4;
}

.mdc-ripple-upgraded--background-focused {
    border: none !important;
}

​ .mdc-list {
    z-index: 999999 !important;
}

.mdc-list > li:first-child {
    display: none;
}

​ .subtitle-label {
    color: #004165;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 0px;
}

​ .additional-label {
    font-family: Roboto;
    margin-bottom: 0px;
}

​ .repeated-row {
    display: flex;
}

.hidden {
    display: none !important;
}

.content {
    display: none;
}

.content--active {
    display: block;
}

.datepicker {
    width: 100% !important;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    display: none;
}

.repeated-row {
    display: flex;
}

.modal-title {
    font-family: 'Roboto';
    font-size: 24px;
}

.leading-icon {
    border-bottom: 1px solid #ECECEC;
    padding: 14px;
}

.material-icons {
    font-size: 21px !important;
    color: #B8C1C1 !important;
}

    .material-icons .mdc-text-field__icon input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        left: 0 !important;
        bottom: 12px !important;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.mdc-text-field--with-leading-icon .mdc-text-field__icon {
    left: 0 !important;
    bottom: 12px;
}


/* TAB-STYLE */

.tab-section-style {
    border: none !important;
}

.mdc-tab .mdc-tab__content .mdc-tab__text-label {
    color: #007DBA !important;
}

    .mdc-tab .mdc-tab__content .mdc-tab__text-label:hover {
        background-color: aquamarine !important;
        color: #007DBA !important;
    }

/* DATEPICKER CSS */

.k-i-calendar {
    position: absolute;
    right: 10px !important;
    top: 0px;
}

.datepicker-class {
    width: 100% !important;
    height: 56px !important;
    padding-top: 20px !important;
    position: absolute;
    border-bottom: 0.1px solid #ECECEC !important;
    padding: 0;
}

.k-datepicker .k-picker-wrap {
    border: 0px;
    border: none !important;
}

.k-datepicker .k-select {
    width: 100%;
    z-index: 5;
    padding-top: 10px;
    background-color: transparent !important;
    border: none !important;
}


/* CSS CONTROLS */

.mdc-text-field {
    border-radius: 0;
}

.label-style {
    color: #BABABA;
    font-family: 'Roboto-Light';
}

.label-radio-style {
    font-family: 'Roboto-Regular';
    font-size: 16px;
}

.subtitle-label-container {
    padding: 0.5em 0em 0em 0em;
}

    .subtitle-label-container .subtitle {
        text-transform: uppercase;
        color: #004165;
        font-size: 20px;
        font-family: 'Roboto-Regular';
    }

    .subtitle-label-container .hr-style {
        margin: 0;
        background-color: #b2b2b2;
        width: 100%;
        height: 1px;
    }

.button {
    color: #007DBA;
    background-color: transparent;
    font-family: 'Roboto-Light';
    padding: 0;
    border: 0;
}

    .button:hover {
        border-bottom: 1px solid #007DBA;
    }

    .button:active {
        color: rgb(6, 172, 255);
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }

.controlsContainer {
    height: 79.9vh;
    font-family: 'Roboto';
    overflow-y: scroll;
}

/* SELECT CSS */
.select-input {
    position: absolute;
}

.k-autocomplete,
.k-combobox .k-dropdown-wrap {
    border: none;
    width: 100%;
    border-radius: 0;
    /*border-bottom: 1px solid #ECECEC !important;*/
}

.k-combobox {
    width: 100% !important;
    padding: 0;
}

.k-dropdown-wrap .k-clear-value {
    z-index: 1;
    top: 35% !important;
    right: 20px;
}

.k-input {
    padding-top: 3em !important;
    height: 5.5em !important;
}

.k-dropdown-wrap .k-select {
    background-color: transparent !important;
    border: none !important;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
}

.k-i-arrow-60-down::before,
.k-i-arrow-s::before,
.k-i-collapse::before,
.k-i-expand-s::before,
.k-i-sarrow-s::before {
    position: absolute;
    top: 40%;
    right: 1%;
}
/* LEFT CONTROL */

.control-container {
    width: 300px;
    display: flex;
}

    .control-container .label-container {
        display: inline;
    }

        .control-container .label-container .label-wrapper {
            margin-right: 10px;
            margin-top: 25px;
            margin-left: 0px;
        }

            .control-container .label-container .label-wrapper .label {
                font-family: 'Roboto-Light';
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
                color: #3F708B;
            }

    .control-container .input-wrapper {
        display: inline;
    }
