﻿@media only screen and (max-height: 850px) {
    .sidebar ul li button {
        padding: 5px 20px 5px 20px !important;
    }

    .sidebar .sidebar-section .title {
        padding: 10px 15px 10px 0px;
    }
}