﻿/*Accordion*/

#qualifyAccordion .card {
    border: none;
    margin-bottom: 10px;
    overflow: visible;
}

    #qualifyAccordion .card .k-checkbox-label {
        margin: 0 15px;
    }

    #qualifyAccordion .card .card-body {
        padding: 0px;
    }

        #qualifyAccordion .card .card-body .qualifyRow {
            padding-left: 20px;
            padding-top: 5px;
        }

            #qualifyAccordion .card .card-body .qualifyRow:hover {
                cursor: pointer;
                background-color: #D1E7F3;
            }

            #qualifyAccordion .card .card-header .fa-times-circle,
            #qualifyAccordion .card .card-body .qualifyRow .validation-indicator-container .fa-times-circle {
                color: red;
            }

            #qualifyAccordion .card .card-header .fa-check-circle,
            #qualifyAccordion .card .card-body .qualifyRow .validation-indicator-container .fa-check-circle {
                color: green;
            }

    #qualifyAccordion .card .card-header {
        padding: 0;
        background-color: #F4F5F7;
        margin-bottom: 0;
    }

        #qualifyAccordion .card .card-header > div {
            height: 55px
        }

        #qualifyAccordion .card .card-header .fa-angle-down {
            align-self: center;
            color: #3195c6;
            font-size: 20px;
            margin-right: 10px;
            transition: transform 0.5s cubic-bezier(0, 0.50, 1, 0.96);
        }

        #qualifyAccordion .card .card-header .collapseTrigger {
            cursor: pointer;
        }

        #qualifyAccordion .card .card-header button.addButton {
            padding-left: 2em;
            padding-right: 2em;
            border-color: #007DBA;
            color: #007DBA;
            background-color: white;
            min-width: 105px;
        }

            #qualifyAccordion .card .card-header button.addButton::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: 600;
                padding-right: 10px;
            }

        #qualifyAccordion .card .card-header .collapseItemTitle {
            line-height: 2em;
        }

        #qualifyAccordion .card .card-header .pipe {
            color: #A4A4A4;
            border-right: 1px solid;
            height: 1.5rem;
            margin: 0px 10px;
        }

/*. card-body .qualifyTable .qualifyRow .checkboxColumn {
    position: absolute;
    right: 8px;
}*/
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    right: 15px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style for more-info */

.qualify-more-info-button {
    color: #007DB9;
    width: 34px;
    /*display: none; /*uncomment the card overflow*/
}

.qualify-more-info-button:after {
    display: none;
}

/*      to fix problem with thead buttons       */
.card {
    overflow: visible;
}

.selected-row {
    background-color: #D1E7F3;
}


/*********** Font Awesome for Accordion ***********/

.addButton.Householdbutton:before {
    content: "\f015"
}

.addButton.Personbutton:before {
    content: "\f500"
}

.addButton.Incomebutton:before {
    content: "\f155"
}

.addButton.PropertyAssetbutton:before {
    content: "\f015"
}

.addButton.Liabilitybutton:before {
    content: "\f53a"
}

.addButton.Expensesbutton:before {
    content: "\f53a"
}

.addButton.NewLoanbutton:before {
    content: "\f3d1"
}

.addButton.PricingDetailsbutton:before {
    content: "\f3d1"
}

.modal-content .modal-header .fa-times-circle {
    color: red;
}

.modal-content .modal-header .fa-check-circle {
    color: green;
}
.modal-content .modal-header .validationButtonContainer {
    display: inline-block;
    vertical-align: top;
}

.functionalities-container .validationButtonContainer {
    display: inline-block;
    vertical-align: top;
}

    .functionalities-container .validationButtonContainer .fa-times-circle {
        color: red;
    }

    .functionalities-container .validationButtonContainer .fa-check-circle {
        color: green;
    }

    .functionalities-container .validationButtonContainer .section-validation-button {
        padding: 0;
    }
