﻿.qualifyTable .qualifyRow {
    display: flex;
    align-items: center;
    min-height: 55px;
}

    .qualifyTable .qualifyRow thead {
        font-size: 0.625em;
        color: darkgray;
    }

    .qualifyTable .qualifyRow table {
        margin-bottom: 0;
    }

        .qualifyTable .qualifyRow table tr {
            display: flex;
        }

        .qualifyTable .qualifyRow table th,
        .qualifyTable .qualifyRow table td {
            padding: 0;
        }

        .qualifyTable .qualifyRow table tr td:first-child:hover {
            text-decoration: underline #007dba;
        }

        .qualifyTable .qualifyRow table tr td:first-child span {
            font-family: 'Roboto-Regular', sans-serif;
            color: #007dba;
            cursor: pointer;
        }
