﻿html, body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto-Light', sans-serif !important;
    user-select: none;
    min-width: 1080px;
    min-height: 600px;
}

/*********** Fonts ***********/

.roboto-light {
    font-family: 'Roboto-Light', sans-serif;
}

.roboto-regular {
    font-family: 'Roboto-Regular', sans-serif;
}

.roboto-medium {
    font-family: 'Roboto-Medium', sans-serif;
}

th {
    font-size: 11px;
    font-weight: 400;
}
/********* Bootstrap *********/

.btn:focus {
    box-shadow: none;
}

.sidebar .btn.disabled,
.sidebar .btn:disabled {
    opacity: 1;
}

.dropdown-toggle:hover,
.dropdown-toggle:not(:disabled):not(.disabled).active,
.dropdown-toggle:not(:disabled):not(.disabled):active,
.show > .dropdown-toggle {
    color: white;
    background: #004165;
}

.dropdown-menu.show[x-placement="bottom-end"] {
    top: -2px !important;
}

.dropdown-menu.show[x-placement="top-end"] {
    top: 1px !important;
}


/* Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%;
    z-index: 1000;
    background: #004165;
}

#anzLogo {
    display: block;
    position: relative;
    left: 33%;
    top: 27%;
    z-index: 1001;
    height: 7%;
    width: 36%;
    text-align: center;
}

.anz-logo {
    height: 70px;
}

#loader {
    display: block;
    position: relative;
    left: 51%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-wrapper .loader-footer {
    display: block;
    position: relative;
    left: 33%;
    top: 45%;
    z-index: 1001;
    height: 7%;
    width: 36%;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto-Light';
    color: white;
}

/************ Kendo Loader ************/

.k-loading-mask {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.k-loading-image::after, .k-loading-image::before {
    position: fixed;
    top: 50%;
    left: 56%;
}

.k-loading-color {
    opacity: 1;
}

/********* Buttons *********/
.button-primary,
.button-secondary {
    border-color: #007DB9;
}

    .button-primary:hover,
    .button-secondary:hover {
        color: white;
        background: #004165;
        border-color: #004165;
    }

.button-primary {
    background-color: #007DB9;
    color: white;
}

.button-secondary {
    color: #007DB9
}

.dropdown-item {
    padding: 1rem 1.5rem;
}

/********* Layout *********/
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

.content-row {
    height: calc(100% - 48px);
    position: relative;
    overflow-y: auto;
}

    .content-row .sidebar {
        min-height: calc(100vh - 48px);
        position: sticky;
        top: 0;
    }

.body-content {
    padding: 0 20px 20px 20px !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 16.66666%;
    overflow: auto;
}

/********* Main Navbar *********/

.main-navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 48px;
    background: #004165;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-begin * {
    color: white;
    font-size: 16px;
}

.navbar .navbar-begin i {
    padding-right: 5px;
}

.navbar .navbar-begin a:hover {
    text-decoration: none;
}

.navbar .navbar-center img {
    height: 26px;
    padding-right: 5px;
}

.navbar .navbar-center span {
    color: white;
    align-self: center;
    font-size: 20px;
}

/******** User Details ********/
#user-details-button {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

    #user-details-button img {
        height: 30px;
        padding-right: 10px;
    }

    #user-details-button span {
        padding-right: 10px;
    }

    #user-details-button span,
    #user-details-button i {
        color: white;
    }

    #user-details-button:hover,
    .back-records:hover{
        border-bottom: 1px solid #007DBA;
    }

        #user-details-button:hover span {
            padding-top: 1px;
        }


#user-profile-collapse {
    top: 48px;
    position: fixed;
    z-index: 1;
    min-width: 300px;
}

    #user-profile-collapse > .user-details-container {
        padding: 20px;
    }

        #user-profile-collapse > .user-details-container .user-main-info-container {
            height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

            #user-profile-collapse > .user-details-container .user-main-info-container img {
                height: 100%;
                padding-right: 15px;
            }

            #user-profile-collapse > .user-details-container .user-main-info-container label.user-name {
                font-weight: bold;
                font-size: 1.5rem;
            }

        #user-profile-collapse > .user-details-container .user-info-container span {
            width: 30%;
            display: inline-block;
            color: #0000008a;
            font-weight: bold;
        }

        #user-profile-collapse > .user-details-container .user-info-container label {
            font-weight: bold;
        }

        #user-profile-collapse > .user-details-container hr {
            border: 1px solid hsla(0, 0%, 0%, 0.50);
        }

/********* SideBar *********/

.sidebar {
    background: #004165;
}

    .sidebar.disabled  {
        pointer-events: none;
    }

    .sidebar .user {
        color: #fff;
        background-color: #FF8800;
        padding: 20px;
        font-size: 20px;
    }

    .sidebar ul li.selected {
        border-left: 3px solid white;
        background-color: rgba(0, 125, 186, 0.7);
    }


    .sidebar ul {
        padding: 0;
    }

    .sidebar .sidebar-section .title {
        display: block;
        margin-top: 10px;
        color: #8DA3AC;
        border-bottom: 2px solid #275E7C;
        padding: 15px 15px 10px 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 3px;
    }

    .sidebar ul li button {
        color: #ffffff;
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }

    .sidebar ul li button .fas,
    .sidebar ul li button .far {
        width: 25px;
    }

    .sidebar ul li:hover {
        background-color: #007dba;
        cursor: pointer;
    }

        .sidebar ul li:hover button {
            color: #fff;
        }

    .sidebar .social_media {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }

/*.sidebar .social_media a {
            display: block;
            width: 40px;
            background: #594f8d;
            height: 40px;
            line-height: 45px;
            text-align: center;
            margin: 0 5px;
            color: #bdb8d7;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }*/

.active i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/********* Kendo Checkboxes *********/

.k-checkbox:focus + .k-checkbox-label:before {
    box-shadow: none;
}

.k-checkbox-label,
.k-checkbox:checked + .k-checkbox-label {
    display: inline-block;
}

.k-checkbox-label,
.k-checkbox:checked + .k-checkbox-label {
    display: inline-block;
}

    .k-checkbox:checked + .k-checkbox-label::before {
        border-color: #007DBA;
        background-color: #007DBA;
    }

    .k-checkbox-label::before {
        border-color: #c5c0c0;
        background-color: white;
    }

/************* Facebook loading animation *************/

.wrapper {
    height: inherit;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    background-color: white;
    width: 80%;
    padding-top: 10px;
    padding-right: 25px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.text-line {
    width: 100%;
    margin: 4px 0;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 56px;
    position: relative;
    margin-bottom: 30px;
}

#controlsContainer {
    display: none;
}

.downloadPreparedFiles {
    display: none;
}

#controlsContainer .mdc-text-field__input:disabled,
#controlsContainer .mdc-text-field__input:disabled:hover {
    background-color: #ddd;
    cursor: not-allowed;
}


/*ERROR LIST BUTTON*/
.section-validation-button {
    padding: 3px 4px;
}

    .section-validation-button i {
        margin-right: 3px;
    }

    .section-validation-button > button:disabled {
        pointer-events: none;
        opacity: 1 !important;
    }

    .section-validation-button .error-list-container {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        color: red;
        padding-right: 10px;
    }

        .section-validation-button .error-list-container.show {
            top: -3px !important;
        }

        .section-validation-button .error-list-container .error-list-item {
            padding: 5px 10px;
            font-family: 'Roboto-Light';
            font-size: 12px;
            pointer-events: none;
            opacity: 1 !important;
        }
