﻿/* Functionalities container */

.functionalities-container {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px 0;
    background: white;
}

.functionalities-container label {
    margin-bottom: 0;
}

.calculate-button,
.saveRecordButton {
    margin: 0 10px;
    min-width: 127px;
}

.more-info-button {
    width: 34px;
}

.more-info-button:after {
    display: none;
}

.functionalities-container label {
    font-size: 20px;
}

.saveRecordButton {
    background-color: orange;
    color: white;
}

.saveRecordButton:disabled,
.saveRecordButton:disabled:hover {
    background-color: grey;
}