﻿.indicatorContainer {
    display: inline-flex;
    margin-bottom: 20px;
} 
.indicatorItem {
    min-width: 170px;
    height: 80px;
    margin: 5px 50px 5px 0;
    border: 1px solid lightgrey;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

    .indicatorItem .indicatorTitle {
        color: gray;
        font-size: 1rem;
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid gray;
    }

    .indicatorItem .indicatorValue {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 5px;
        padding: 5px;
    }


